<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Portfolio Gallery</title>
    <link href="../styles/styles.css" 1 rel="stylesheet" />
</head>

<body>

    <header>
        <div class="container">
            <h1 class="logo">Portfolio Gallery</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#">All Projects</a>
                    </li>
                    <li>
                        <a href="#">Design</a>
                    </li>
                    <li>
                        <a href="#">Programming</a>
                    </li>
                    <li>
                        <a href="#">CMS</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="tagline">
        <div class="container">
            <h1>View our Work</h1>
        </div>
    </section>

    <!-- <input type="button" value="Buy" title="Partnerlink" style="background-color:antiquewhite; color: black; border-radius:4px; width:50px;
    height: 30px">

    <div>

        <input type="button" value="Buy" title="Partnerlink" style="background-color:antiquewhite; color: black; border-radius:4px"
            ; width:50px; height: 30px ">
            <label></label>
        
    </div> -->


    <section>
        <div class="container">
            <h1 id="heading">All Projects</h1>
            <ul id="gallery">
                <li class="design">
                    <a href="#">
                        <img src="../resources/images/web1.jpg">
                    </a>
                </li>
                <li class="design">
                    <a href="#">
                        <img src="../resources/images/web2.jpg">
                    </a>
                </li>
                <li class="programming">
                    <a href="#">
                        <img src="../resources/images/web3.jpg">
                    </a>
                </li>
                <li class="cms">
                    <a href="#">
                        <img src="../resources/images/web4.jpg">
                    </a>
                </li>
                <li class="cms">
                    <a href="#">
                        <img src="../resources/images/web5.jpg">
                    </a>
                </li>
                <li class="design cms programming">
                    <a href="#">
                        <img src="../resources/images/web6.jpg">
                    </a>
                </li>
                <li class="programming">
                    <a href="#">
                        <img src="../resources/images/web7.jpg">
                    </a>
                </li>
                <li class="cms">
                    <a href="#">
                        <img src="../resources/images/web8.jpg">
                    </a>
                </li>
                <li class="design">
                    <a href="#">
                        <img src="../resources/images/web9.jpg">
                    </a>
                </li>
                <li class="design cms">
                    <a href="#">
                        <img src="../resources/images/web10.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <p>Copyright &copy; 2018, All Rights Reserved</p>
    </footer>

    <script src="../scripts/jquery-3.2.1.min.js"></script>
    <script src="../scripts/main.js"></script>
</body>

</html>