<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Portfolio Gallery</title>
    <link rel="stylesheet" href="../styles/lightbox.css">
    <link href="../styles/styles.css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="container">
            <h1 class="logo">Portfolio Gallery</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#">All Projects</a>
                    </li>
                    <li>
                        <a href="#">Design</a>
                    </li>
                    <li>
                        <a href="#">Programming</a>
                    </li>
                    <li>
                        <a href="#">CMS</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="tagline">
        <div class="container">
            <h1>View our Work</h1>
        </div>
    </section>

    <section>
        <div class="container">
            <h1 id="heading">All Projects</h1>
            <ul id="gallery">
                <li class="design">
                    <a data-title="Project 1" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web1.jpg">
                        <img src="../images/web1.jpg">
                    </a>
                </li>
                <li class="design">
                    <a data-title="Project 2" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web2.jpg">
                        <img src="../images/web2.jpg">
                    </a>
                </li>
                <li class="programming">
                    <a data-title="Project 3" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web3.jpg">
                        <img src="../images/web3.jpg">
                    </a>
                </li>
                <li class="cms">
                    <a data-title="Project 4" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web4.jpg">
                        <img src="../images/web4.jpg">
                    </a>
                </li>
                <li class="cms">
                    <a data-title="Project 5" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web5.jpg">
                        <img src="../images/web5.jpg">
                    </a>
                </li>
                <li class="design cms programming">
                    <a data-title="Project 6" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web6.jpg">
                        <img src="../images/web6.jpg">
                    </a>
                </li>
                <li class="programming">
                    <a data-title="Project 7" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web7.jpg">
                        <img src="../images/web7.jpg">
                    </a>
                </li>
                <li class="cms">
                    <a data-title="Project 8" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web8.jpg">
                        <img src="../images/web8.jpg">
                    </a>
                </li>
                <li class="design">
                    <a data-title="Project 9" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web9.jpg">
                        <img src="../images/web9.jpg">
                    </a>
                </li>
                <li class="design cms">
                    <a data-title="Project 10" data-desc="lorem ipsum dolor sit amet" data-lightbox="projects" href="../images/web10.jpg">
                        <img src="../images/web10.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <p>Copyright &copy; 2018, All Rights Reserved</p>
    </footer>

    <script src="../scripts/jquery-3.2.1.min.js"></script>
    <script src="../scripts/lightbox.js"></script>
    <script src="../scripts/main.js"></script>
</body>

</html>